@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('http://fonts.cdnfonts.com/css/cmu-sans-serif');

:root {
  --bgcol: #ffffff;
	--header1bgcol: #3333B2;
	--header2bgcol: #3333B2;
	--header1fgcol: #ffffff;
	--header2fgcol: #ffffff;
  --textcol: #000000;
	--linkcol: #058205;
	--visitedlinkcol: #058205;
	--subheadercol: #3333B2;
	--shadowcol: #ffffff;
	--pretextcol: #058205;
	--prebgcol: #ffffff;
	--operator: #3333B2;
	--string: #058205;
	--identifier: #a6D9F7;
	--number: #a6D9F7;
	--keyword: #a6D9F7;
	--literal: #a6D9F7;
	--comment: #3333B2;
}

body {
	background: var(--bgcol);
	font-family: "CMU Sans Serif", sans-serif;
	font-weight: 500;
	color: var(--textcol);
	-webkit-font-smoothing: antialiased;
	font-size: 16pt;
	width: 900px;
	line-height: 18pt;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	margin: auto;
}

main h1 {}

h1 {
	font-family: "CMU Sans Serif", sans-serif;
	background: var(--header1bgcol);
	color: var(--header1fgcol);
	font-size: 24pt;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 10px;
	font-weight: bold;
	line-height: 26pt;
	padding: 2px 2px;
}

h2 {
	font-family: "CMU Sans Serif", sans-serif;
	background: var(--header2bgcol);
	color: var(--header2fgcol);
	font-size: 20pt;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 10px;
	font-weight: bold;
	line-height: 22pt;
	padding: 2px 2px;
}

h3 {
	margin-top: 16px;
	margin-bottom: 5px;
}

h4 {
	margin-top: 16px;
	margin-bottom: 5px;
}

title {
	font-weight: bold;
	line-height: 26pt;
}

p.subheader {
	font-weight: bold;
	color: var(--subheadercol);
}

img {
	padding: 3pt;
	float: center;
}

a {
	color: var(--linkcol);
	color: inherit;
	text-shadow: 1px 1px var(--shadowcol), -1px -1px var(--shadowcol);
	text-decoration: underline;
	font-size: 16pt;
}

a:link,
a:visited {
	color: var(--visitedlinkcol);
}

pre {
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	padding: 2px 5px;
	color: var(--pretextcol);
	background: var(--prebgcol);
	font-family: inherit;
}

a:hover,
a:active {
	text-decoration: none;
	/*text-decoration: line-through;*/
}

p {
	margin: 0px;
	margin-bottom: 5px;

}

div.footer {
	font-size: 9pt;
	font-style: italic;
	line-height: 12pt;
	text-align: center;
	padding-top: 30pt;
}


pre .operator, pre .paren {
    color: var(--operator);
}

pre .string, pre .paren {
    color: var(--string);
}

pre .identifier, pre .paren {
    color: var(--identifier);
}

pre .number, pre .paren {
    color: var(--number);
}

pre .keyword, pre .paren {
    color: var(--number);
}

pre .literal, pre .paren {
    color: var(--number);
}

pre .constant, pre .paren {
    color: var(--number);
}

iframe {
  box-sizing: border-box;   /* make the border size be included in the height */
  display: block;           /* make them block to fix white space margin */
  border-width: 0px;	
}